*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    max-width: 100vw;
    line-height: 1.15;
    overflow-x:hidden;
}

section {
    min-width: 100vw;
    padding: 2rem 2rem;
}

.dark {
    background-color: black;
    color: white;
}

/* .header {
    text-align: right;
    left: auto;
    padding: .5rem;
    height: 3rem;
    font-size: 1.25rem;
} */

.color-toggle {
    right: 0;
    top: 0;
}

.hero-container {
    max-width: 60vw;
}

.hero {
    min-height: max-content;
    width: 100%;
    background-color: #0a0913;
    color: white;
    background-image: url(img/Brad3.jpg);
    background-size:cover;
    background-position:center;
}

/* .hero {
    background-size: 100vw;
} */

.hero h2 {
    line-height: 1.25;
    font-weight:400;
    font-size: 1rem;
    padding: 1.5rem 0;
    max-width: 50vw;
}

.hero h1 {
    line-height: 80%;
    font-size: 2.75rem;
    font-weight: 900;
    font-style: italic;
    max-width: 50vw;
}

.hero-image {
    height: 100vh;
    width: auto;
}
.swipe {
    position: relative;
    width: fit-content;
    
   }

.swipe::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    width: 0%;
    height: 100%;
    background-color: black;
    animation: swipe 1.5s ease-out 1s forwards;
}

.swipe--delay::after {
    background-color: black;
    animation-delay: 1.5s;
}

.swipe h1 {
    color: black;
    opacity: 0;
    animation: fade 0.01s ease-out 1.75s forwards;
}

.swipe h2,
.swipe h3 {
    color: black;
    opacity: 0;
    animation: fade 0.01s ease-out 2.25s forwards;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes swipe {
0% {
    right: 100%;
    left: 0;
    width: 0%;
}
50% {
    right: 0;
    left: 0;
    width: 100%;
}
100% {
    right: 0;
    left: 100%;
    width: 0%;
}
}

.divider {
    max-height: min-content;
    width: 7rem;
    border: 2px solid black;
    margin-top: 2rem;
}

.divider-light {
    max-height: min-content;
    width: 7rem;
    border: 2px solid white;
    margin-top: 2rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

p {
    margin: 1rem 0;
    line-height: 24px;
    font-weight: 400;
}

a,
a:visited {
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.highlight {
    color: black;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.projects {
    min-height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.one,
.two,
.three,
.four,
.five {
    display:grid;
    place-items: center;
    gap: 1rem;
}

.active,
.static {
    width: 100%;
}

.description {
    max-width: 100%;
    text-align:center;
}

.tech-icon-container {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    place-items: center;
    min-height: max-content;
    width: max-content;
    padding-top: 1rem;
}

.icon-box {
    width: 3rem;
    height: 3rem;
}

.project-button-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    padding-bottom: 4rem;
}

.project-button {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    font-family: inherit;
    padding: .5rem 1rem;
    border: 1px solid white;
}

.project-button:hover,
.project-button:active,
.project-button:focus {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1.5rem;
    height: 20rem;
}

.contact p,
.contact h3 {
    text-align: left;
}

.contact h3 {
    font-weight: 500;
}

.cta-item:nth-child(2) {
    display: grid;
}

.contact-button {
    padding: 2rem;
    border: 1px solid black;
    border-radius: 0;
    background-color: inherit;
    font-size: 1.5rem;
    font-family: inherit;
    color: black;
    text-transform: uppercase;
}

.contact-button:hover,
.contact-button:active,
.constact-button:focus {
    color: white;
}

.skew {
    letter-spacing: 2px;
    color: black;
    outline: 2px solid black;
    position: relative;
    overflow: hidden;
    transition: color .5s;
}

.skew::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: black;
    transform: skewX(35deg);
    z-index: -1;
    transition: width .5s;
}

.skew:hover::before,
.skew:active::before,
.skew:focus::before {
    width: 150%;
}

.footer {
    min-height: 5rem;
    padding-top: 3rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

.footer h3 {
    font-size: .75rem;
}

.icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    place-items: center;
    min-height: max-content;
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px){
    section {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .hero {
        max-width: 50%;
        padding-left: 2rem;
    }

    .hero h1 {
        font-size: 5rem;
    }

    .hero h2 {
        font-size: 2rem;
        max-width: 50vw;
        }
    
    h3 {
        font-size: 2rem;
    }

    /* gifs! */
    .active {
        max-width: 65vw;
    }

    .description {
        max-width: 65vw;
    }

    .tech-icon-container {
        font-size: 3rem;
    }

    .project-button-container {
        place-items: center;
        width: 25%;
    }

    .footer {
        font-size: 2rem;
    }

    .footer h3 {
        font-size: .9rem;
    }

}

@media screen and (min-width: 1024px){
    section {
        padding-left: 20%;
        padding-right: 20%;
    }

    .hero {
        padding: 10% 2rem 2rem 15%;
    }

    .hero h1 {
        font-size: 6rem;
        max-width: 50vw;
    }

    .hero h2 {
        font-size: 2.25rem;
        max-width: 50vw;
        }
    
    h3 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1.15rem;
    }
    /* gifs! */
    .active {
        max-width: 60vw;
    }

    .description {
        max-width: 35vw;
        text-align: justify;
    }

    .tech-icon-container,
    .icon-box {
        font-size: 4rem;
    }

    .footer h3 {
        font-size: 1rem;
    }

    .contact {
        padding-left: 20rem;
        right: auto;
    }
}


/* Account for folks who toggle off effects in system settings*/
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}